@model PortailReserve.ViewModel.AjouterEventViewModel
@{
    ViewBag.Title = "Ajouter un événement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="bouton" onclick="clickOn('retourPlanning'); ">
                @Html.ActionLink("Retour au planning", "Index", "Planning", null, new { @class = "lienBouton", id = "retourPlanning" })
            </button>
        </div>
    </div>
</div>

<h1> Ajouter un événement </h1>

<div class="container">
    <div class="row">
        @Html.LabelFor(m => m.Event.Nom, "Titre", new { @class = "col-12 labelMiddle" })
    </div>
    <div class="row">
        @Html.TextBoxFor(m => m.Event.Nom, new { @class = "col-6 champsText champsTextCenter" })
    </div>
</div>

