@model PortailReserve.ViewModel.ListeEventViewModel
@{
    ViewBag.Title = "Liste événements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/listeEvent.css" />    
}

<h1>Liste des événements </h1>

@if (ViewBag.Role < 4)
{
    <div class="container">
        <div class="row">
            <div class="col-2 champsTextDroit">
                <button class="bouton boutonVert" onclick="clickOn('ajoutEventListe'); "> 
                    @Html.ActionLink("Ajouter un événement", "Ajouter", "Planning", null, new { @class = "lienBoutonVert", id = "ajoutEventListe" }) 
                </button>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row ligneSousTitre">
        <div class="col-6 text-center">
            <span id="titreAVenir" class="sousTitreEvent" style="opacity: 1;"> À venir </span>
        </div>
        <div class="col-6 text-center">
            <span id="titrePasse" class="sousTitreEvent" style="opacity: 0.5;"> Passé </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 erreur"> @ViewBag.Erreur </div>
    </div>
</div>

<div class="container" id="aVenir" style="display: block;">
    @{ Html.RenderAction("AfficherEventAVenir", "Planning", null);}
</div>

<div class="container" id="passe" style="display: none;">
    @{ Html.RenderAction("AfficherEventPasse", "Planning", null);}
</div>

@section scripts {
    <script src="~/Content/JavaScript/listeEvent.js"></script>    
}

