@model PortailReserve.ViewModel.AlbumViewModel

<div class="row">
    <div class="col-12 text-center erreur">
        @ViewBag.Erreur
    </div>
</div>

<div id="affichagePhotos" class="container">
    @if (Model.NbPhotos.Equals(0))
    {
        <div class="row">
            <div class="col-12 text-center">
                Aucune photos dans cette album.
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @{ int index = 0; }
            @foreach (PortailReserve.Models.Photo p in Model.Photos)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 selfCenter divImage">
                    <img class="imagePrevisu imageAlbum" src=@p.Fichier alt="photo" onclick="afficherZoom(@index); " />
                </div>
                { index++; }
            }
        </div>
    }
</div>

@if (Model.NbPhotos != 0)
{
    <div id="partieZoom" style="display:none; ">
        <div class="row">
            <div class="col-2 text-center champsTextDroit" onclick="fermerZoom(); ">
                <img src="~/Content/image/icone_fermer.png" alt="Fermer" class="iconePhoto" />
            </div>
        </div>

        @{ int index = 0; }
        @foreach (PortailReserve.Models.Photo p in Model.Photos)
        {
            <div class="row lignePhoto">
                <div class="col-2 text-center boutonChgmtPhoto divPhotoZoom @index" onclick="precendant(@index); " style="display: none;">
                    <img src="~/Content/image/icone_precedent.png" alt="Précédent" class="iconePhoto" />
                </div>
                <div class="col-8 text-center divPhotoZoom @index" style="display: none;">
                    <img class="imageZoom" src=@p.Fichier />
                </div>
                <div class="col-2 text-center boutonChgmtPhoto divPhotoZoom @index" onclick="suivant(@index); " style="display: none;">
                    <img src="~/Content/image/icone_suivant.png" alt="Suivant" class="iconePhoto" />
                </div>
            </div>
            { index++; }
        }

    </div>
}
