@font-face{
    font-family: "Roboto";
    src: url("Police/Roboto/Roboto-Regular.ttf");
}

.row {
    margin-right: 0px;
}

body {
    padding-bottom: 20px;
    background-color: lightgray;
    min-height: 100vh;
    font-family: Roboto;
}

h1 {
    font-family: Roboto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
}

.titreLegend {
    padding-bottom: 10px;
    margin-bottom: 35px;
    border-bottom: 1px solid black;
}

.selfCenter {
    margin-left: auto;
    margin-right: auto;
}

#banniere {
    opacity: 0.8;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
}

#blasonSixLayout {
    position: absolute;
    top: 3%;
    left: 8%;
    width: 8%;
}

#iconeIdentite{
    position:absolute;
    top: 3%;
    right: 0%;
    width: 25%;
    z-index: 1000;
}

#iconeSoldat {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

#iconeSoldat:hover {
    cursor: pointer;
}

#userGrade {
    width: 100%;
    text-align:center;
}

#menu {
    text-align: center;
    background-color: rgb(169,169,169);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    width: 100%;
}

.borderDroite {
    border-right: solid 1px black;
}

.borderBas {
    border-bottom: solid 1px black;
}

.menuItem {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuItem:hover {
    cursor: pointer;
}

.lienMenu {
    color: black;
}

.lienMenu:hover{
    color: white;
    text-decoration: none;
}

.sousMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(169,169,169);
    margin-top: 10px;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    z-index: 1000;
}

.sousMenuItem {
    padding-bottom: 20px;
    padding-top: 20px;
}

#corpsDePage {
    min-height: 100vh;
    background-color: white;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
}

#menuPerso {
    background-color: lightgray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 5%;
    border-radius: 3px;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
}

.elemMenuPerso {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.lienMenuPerso {
    color: black;
    text-decoration: none;
}

.lienMenuPerso:hover {
    color: white;
    text-decoration: underline;
}

#fermerMenu {
    width: 25%;
    margin-left: 32.5%;
    margin-right: 37.5%;
}

#fermerMenu:hover {
    cursor: pointer;
}

.bouton {
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px
}

.bouton:hover {
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    font-style: italic;
}

.boutonVert {
    background-color: forestgreen;
    margin-top: 0;
    border: none;
    color: white;
    text-align: center;
}

.boutonRouge {
    background-color: red;
    margin-top: 0;
    border: none;
    color: white;
    text-align: center;
}

.lienBouton {
    color: black;
}

.lienBouton:hover {
    color:black;
    text-decoration: none;
}

.lienBoutonVert {
    color: white;
}

.lienBoutonVert:hover {
    color: white;
    text-decoration: none;
}

.erreur {
    color: red;
    text-align: center;
    padding-bottom: 10px;
}

.champsText {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid lightgrey;
}

.champsTextCenter {
    margin-left: auto;
    margin-right: auto;
}

.champsTextGauche {
    margin-right: auto;
}

.champsTextDroit {
    margin-left: auto;
}

.champsText:focus {
    box-shadow: 0px -1px 20px -5px rgba(0,0,0,0.3);
    outline-color: darkgray;
}

.labelMiddle {
    padding-top: 10px;
}

.btnSubmit {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.btnSubmit:hover {
    box-shadow: -3px -1px 20px -5px rgba(0,0,0,0.3);
    font-style: italic;
}

.btnSubmit:focus {
    outline: none;
}

label {
    text-align: center;
}

.champsTextArea{
    text-align: left;
    min-height: 10rem;
}

.paddingRight {
    padding-right: 10px;
}

option {
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkBox {
    width: 2rem;
    height: 2rem;
    text-align: right;
}

.labelCheckBox{
    text-align: left;
    padding-top: 0.25rem;
}

.boutonLike {
    padding-top: 10px;
    padding-bottom: 10px;
}

.marginTop{
    margin-top: 30px;
}

.pastilleNum{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;

}

.pastilleNumDouble {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}