@model PortailReserve.ViewModel.SelectGradeViewModel

<span>
    @using (Ajax.BeginForm("ModifierGrade", "Section", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "partieSection",
        HttpMethod = "POST",
        OnComplete = "modifierSection()",
        OnSuccess = "messageSuccess('Changement grade OK !')",
        OnFailure = "messageError('Erreur changement grade !')"
    }, new { style="display:inline;" }))
    {
        @Html.DropDownListFor(m => m.Util.Grade, Model.Grades, new
        {
            id = "utilGrade_" + Model.Util.Id.ToString().Substring(0, 8),
            @class = "champsText",
            onchange = "clickOn('ajax_" + Model.Util.Id.ToString().Substring(0, 8) + "')"
        })

        @Html.Hidden("idUtilChGrade", Model.Util.Id)
        <input type="submit" value="changer" id="ajax_@Model.Util.Id.ToString().Substring(0, 8)" style="display: none;" />
    }
</span>
