@model PortailReserve.Models.Utilisateur
@{
    ViewBag.Title = "Section - Groupe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/section.css" />
}

<h1> Section - Groupe </h1>

<div class="container">
    <div class="row">
        @if (Model.Role < 4)
        {
            <div id="modifSection" class="col-3 champsTextDroit" style="display: block; ">
                <button id="boutonModifier" class="boutonOrange bouton" onclick="modifierSection(); ">
                    <span class="lienBouton lienBoutonBleu"> Modifier </span>
                </button>
            </div>

            <div id="valideModif" class="col-3 champsTextDroit" style="display: none; ">
                <button id="boutonModifier" class="boutonVert bouton allWidth" onclick="validerModifSection(); clickOn('vmsection'); ">
                    @Html.ActionLink("Valider", "Index", "Section", null, new { id = "vmsection", @class = "lienBouton lienBoutonVert" })
                </button>
            </div>
        }
    </div>
</div>

<div class="container" id="partieSection">
    @{ Html.RenderAction("AfficherPersonnelSection", "Section", null); }
</div>

<!--
#############################################################################################
########################## Pop Up de suppression d'utilisateur ##############################
#############################################################################################
-->

<div class="container popUp" id="popUpSuppression" style="display: none; ">
    @{ Html.RenderAction("AfficherPopUpSuppSoldat", new { id = Guid.Empty }); }
</div>

<div class="container popUpSuccess" id="suppressionOk" style="display: none;">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_confirmation.png" alt="OK" class="imagePopUpSE" />
        </div>
        <div id="texteSuccess" class="col-10 text-center messageSuccess">
            
        </div>
    </div>
</div>

<div class="container popUpError" id="suppressionKo" style="display: none; ">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_erreur.png" alt="KO" class="imagePopUpSE" />
        </div>
        <div id="texteError" class="col-10 text-center messageError">
            
        </div>
    </div>
</div>

<!--
#############################################################################################
############################# Pop Up de changement de groupe ################################
#############################################################################################
-->

<div class="container popUp" id="popUpChgmtGroupe" style="display: none;">
    @{ Html.RenderAction("AfficherPopUpChgmtGroupe", new { id = Guid.Empty }); }
</div>

@section scripts {
    <script src="~/Content/JavaScript/section.js"></script>
}

