@model PortailReserve.Models.Utilisateur
@{
    ViewBag.Title = "Section - Groupe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/section.css" />
}

<h1> Section - Groupe </h1>

<div class="container">
    <div class="row">
        @if (Model.Role < 4)
        {
            <div id="modifSection" class="col-3 champsTextDroit" style="display: block; ">
                <button id="boutonModifier" class="boutonOrange bouton" onclick="modifierSection(); ">
                    <span class="lienBouton lienBoutonBleu"> Modifier </span>
                </button>
            </div>

            <div id="valideModif" class="col-3 champsTextDroit" style="display: none; ">
                <button id="boutonModifier" class="boutonVert bouton allWidth" onclick="validerModifSection(); clickOn('vmsection'); ">
                    @Html.ActionLink("Valider", "Index", "Section", null, new { id = "vmsection", @class = "lienBouton lienBoutonVert" })
                </button>
            </div>
        }
    </div>
    @if (Model.Role < 4)
    {
        <div id="boutonAjouter" class="row" style="display: none;">
            <div class="col-3 champsTextDroit">
                <button class="bouton boutonBleu allWidth text-center" onclick="afficherCacherElement('popUpAjoutPersonnel'); clickOn('boutonAjout');">
                    <span class="lienBouton lienBoutonBleu"> Ajouter une personne </span>
                </button>
                <div style="display: none;">
                    @Ajax.ActionLink("Ajouter une personne", "AfficherPopUpAjouterPerso", null, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "popUpAjoutPersonnel",
                            HttpMethod = "GET"
                        }, new { id = "boutonAjout" })
                </div>
            </div>
        </div>
    }
</div>

<div class="container" id="partieSection">
    @{ Html.RenderAction("AfficherPersonnelSection", "Section", null); }
</div>

<!--
#############################################################################################
########################## Pop Up de suppression d'utilisateur ##############################
#############################################################################################
-->

@if (Model.Role < 4)
{
    <div class="container popUp" id="popUpSuppression" style="display: none; ">
        @{ Html.RenderAction("AfficherPopUpSuppSoldat", new { id = Guid.Empty }); }
    </div>
}

<!--
#############################################################################################
############################# Pop Up de changement de groupe ################################
#############################################################################################
-->

@if (Model.Role < 4)
{
    <div class="container popUp" id="popUpChgmtGroupe" style="display: none;">
        @{ Html.RenderAction("AfficherPopUpChgmtGroupe", new { id = Guid.Empty }); }
    </div>
}

<!--
#############################################################################################
############################# Pop Up de ajout de personnel ##################################
#############################################################################################
-->

@if (Model.Role < 4)
{
    <div class="container popUp" id="popUpAjoutPersonnel" style="display: none; ">
        @{ Html.RenderAction("AfficherPopUpAjouterPerso"); }
    </div>
}

<!--
#############################################################################################
############################# Pop Up de changement de cdg ###################################
#############################################################################################
-->

@if (Model.Role < 4)
{
    <div class="container popUp" id="popChangementCdg" style="display: none;">
        @{ Html.RenderAction("AfficherPopUpChangementCdg", new { id = Guid.Empty, grp = Guid.Empty }); }
    </div>
}

<!--
#############################################################################################
############################# Pop Up de suppression de cdg ##################################
#############################################################################################
-->

@if (Model.Role < 4)
{
    <div class="container popUp" id="popSuppressionCdg" style="display: none;">
        @{ Html.RenderAction("AfficherPopUpSuppCdg", new { id = Guid.Empty, grp = Guid.Empty }); }
    </div>
}

<!--
#############################################################################################
################################ Messages d'information #####################################
#############################################################################################
-->

<div class="container popUpSuccess" id="suppressionOk" style="display: none;">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_confirmation.png" alt="OK" class="imagePopUpSE" />
        </div>
        <div id="texteSuccess" class="col-10 text-center messageSuccess">

        </div>
    </div>
</div>

<div class="container popUpError" id="suppressionKo" style="display: none; ">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_erreur.png" alt="KO" class="imagePopUpSE" />
        </div>
        <div id="texteError" class="col-10 text-center messageError">

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/JavaScript/section.js"></script>
}

