
<div class="row rubriqueCours">
    <div class="col-12">
        <div class="row titreCours" onclick="afficherCacherElement('cmg');">
            <div class="col-8">
                Culture Militaire Générale
            </div>
        </div>
        <div id="cmg" style="display: none;">
            @{ Html.RenderAction("AfficherCours", "Cours", new { theme = "CMG" }); }
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Combat
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Génie
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                ISTC
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                NRBC
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Renseignement
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Secourisme
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Transmission
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Topographie
            </div>
        </div>
    </div>
</div>

<div class="row rubriqueCours">
    <div class="col-10">
        <div class="row titreCours">
            <div class="col-8">
                Autres
            </div>
        </div>
    </div>
</div>
