@model PortailReserve.Models.Chant
@{
    ViewBag.Title = "Chant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/cours.css" />
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="bouton boutonBleu allWidth" onclick="clickOn('retourChantTrad'); ">
                @Html.ActionLink("Retour", "ChantsEtTraditions", "Cours", null, new { @class = "lienBoutonBleu", id = "retourChantTrad" })
            </button>
        </div>
    </div>
</div>

<h1>@Model.Titre</h1>

@if (!Model.Id.Equals(Guid.Empty))
{
    <div class="container">
        <div class="row">
            <div class="col-10 selfCenter">
                @Model.Texte
            </div>
        </div>
    </div>
}

<div class="row">
    @Ajax.ActionLink("Supprimer ce chant", "AfficherPopUpSupprimerChant", new { id = Model.Id }, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "popUpSuppressionChant",
        HttpMethod = "GET"
    }, new { @class = "col-4 bouton boutonRouge text-center selfCenter lienBouton lienBoutonBleu marginTop", 
             @onclick = "afficherCacherPopUp('popUpSuppressionChant');" 
            })
</div>

<!--
#############################################################################################
################################ Pop Up suppression chant ###################################
#############################################################################################
-->

@if (ViewBag.Role < 4)
{
    <div class="container popUp" id="popUpSuppressionChant" style="display: none; ">
        @{ Html.RenderAction("AfficherPopUpSupprimerChant", new { id = Guid.Empty }); }
    </div>
}

@section scripts {
    <script src="~/Content/JavaScript/section.js"></script>
}

