@model PortailReserve.ViewModel.MessagerieViewModel

<h1 class="text-center"> Questions / Remarques </h1>

@if (Model.Messages.Count.Equals(0))
{
    <div class="row">
        <div class="col-12 text-center">
            Aucun messages à afficher.
        </div>
    </div>
}
else
{

}
