
#patracdrLabel {
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 40px;
}

#patracdrLabel:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
}

#titreEffectif {
    padding-bottom: 10px;
    font-weight: bold;
}
