#form {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.3);
}

#titreAuth, h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#blasonRI {
    position: absolute;
    top: 4%;
    left: 7%;
    width: 10%;
}

#blasonSix {
    position: absolute;
    top: 5%;
    right: 7%;
    width: 10%;
}

#mdpOublie {
    text-align: center;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

#mdpOublie:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

#premiereCo {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.3);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-right: 2%;
    padding-left: 2%;
}

.formPart {
    margin-bottom: 35px;
}

.titreLegend {
    padding-bottom: 10px;
    margin-bottom: 35px;
    border-bottom: 1px solid black;
}



