.erreur{
    color: red;
}

#partDroite, #partGauche {
    min-height: 100vh;
}

#partDroite{
    border-left: 1px solid grey;
}

#partGauche{
}

#titreDroit {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
