#boutonAjoutAlbum {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elemAlbum {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid grey;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
}

.elemAlbum:hover {
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}

.titreElemAlbum {
    font-weight: bold;
    margin-bottom: 10px;
}

.dateElemAlbum {
    text-align: right;
    color: gray;
    font-size: 0.75rem;
}

.desElemAlbum {

}

#photoLabel {
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 40px;
}

#photoLabel:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
}

#partiePrevisu {
    margin-bottom: 30px;
}

.divImage {
    margin-bottom: 10px;
}

.imagePrevisu {
    width: 80%;
    height: auto;
}

#affichagePhotos {
    margin-top: 50px;
}

.imageAlbum:hover {
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
    cursor: zoom-in;
}

#partieZoom {
    position: fixed;
    width: 100%;
    max-height: 60vh;
    top: 5vh;
    left: 0;
    z-index: 3000;
}

.imageZoom {
    width: 80%;
    height: auto;
}

.boutonChgmtPhoto {
    padding-top: 35vh;
}

.boutonChgmtPhoto:hover{
    cursor: pointer;
}

.iconePhoto {
    width: 25%;
    height: auto;
}

.iconePhoto:hover{
    cursor: pointer;
}

#boutonSupprimer {
    margin-top: 30px;
}

.ligneBouton {
    margin-top: 30px;
    margin-bottom: 30px;
}

#boutonRetoutAjout {
    margin-bottom: 30px;
}